<html>
    <head>
        <style>
            * {
                 text-align: center;
            }
            h1 {
                 color: #DC143C;
            }
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: #DC143C;
            }
            li {
                float: center;
            }
            li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }
            li a:hover {
                background-color: #2F4F4F;
            }
            .active {
                background-color: #4CAF50;
            }
        </style>
    </head>
    <body>
        <h1>Signup</h1>
        <form action="/users" method="POST">
            <p>
                <label for="email">Email:</label>
                <input type="text" name="email" id="email">
            </p>
            <p>
                <label for="password">Password:</label>
                <input type="password" name="password" id="password">
            </p>
            <input type="submit">
        </form>
    </body>
</html>
<br>
<ul>
    <li><a href="/">Home</a></li>
    <li><a class="button" href="/login">Login</a></li>
  </ul>