<h3>Sign up as a new user</h3><br>
<% if !!@error %>
  <div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <strong>Error!</strong> <%= @error %>
  </div>
<% end %>

<form action="/signup" method="POST">
  <input type="text" name="email" placeholder="email">
  <input type="password" name="password" placeholder="password">
  <button class="btn btn-primary d-inline" type="submit">Sign Up</button>
</form>