<table>
  <tr>
    <th>Name</th>
    <th>Year Completed</th>
  </tr>
  <tr>
    <td><%= @post.name %></td>
    <td><%= @post.year_completed %></td>
  </tr>
<table>

<a class="button" href="/posts/<%= @post.id %>/edit">Edit Post</a>
<a class="button" href="/posts">Posts</a>
