<html>
  <head>
    <style>
      * {
           text-align: center;
      }
      h1 {
           color: #DC143C;
      }
    </style>
  </head>
  <body>
    <h1>All Video Games</h1>
    <p>
      <% @videogames.each do |videogame| %>
        <ol>
          <strong>
          <a href="/videogames/<%= videogame.id %>"><%= videogame.title %></a> 
          </strong> | <%= videogame.date_purchased %>
        </ol>
      <% end %>
    </p>
  </body>
<html>

<a href="/">Home |</a>
<a href="/videogames/new">New Video Game |</a>
<a href="/logout">Logout</a>