<html>
    <head>
        <style>
            * {
                 text-align: center;
            }
            h1 {
                 color: #DC143C;
            }
        </style>
    </head>
    </body>
        <h1>Create a New Video Game</h1>

        <form method="POST" action="/videogames">
            <label for="title_field">Title:</label>
            <input type="text" name="title">
            <label for="date_purchased_field">Date Purchased:</label>
            <input type="text" name="date_purchased">   
            <input type="submit" value="Submit!">
        </form>
    </body>
</html>

<a href="/videogames">Go Back</a>