<div class="container">

  <div class="col-md-8 col-md-offset-2">
    <h1>Video Game Collection</h1>

      <header><img src="images/logo.png" class="img-responsive main-image"></header>

    <div class="content">
      <p>Welcome to the Video Game Collection App! The focus of this application is to keep track of your video game collection.  Signup to create an account, and then Login to get started.
      </p>
    </div>

  </div>
</div>

<a class="button" href="/signup">Signup</a>
<a class="button" href="/login">Login</a>