<html>
  <head>
    <style>
      * {
           text-align: center;
      }
      h1 {
           color: #DC143C;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="col-md-8 col-md-offset-2">
        <h1>Video Game Collection</h1>
        <img src="https://images-na.ssl-images-amazon.com/images/I/71Wkb1JCWdL._AC_SL1500_.jpg" alt="Video Game Collection" width="600" height="500">
          <div class="content">
            <p>Welcome to the Video Game Collection App! The focus of this application is to keep track of your video game collection.  Signup to create an account, and then Login to get started.
            </p>
          </div>
      </div>
    </div>
  </body>
</html>


<a class="button" href="/signup">Signup |</a>
<a class="button" href="/login">Login |</a>
<a class="button" href="/videogames">Video Games</a>